{% from "macros.html" import render_field %}

{% extends "layout.html" %}

{% block title %}Create Account{% endblock %}

{% block main %}
<div class="container">
    <div class="content">
        <header>
            <h1 class="title">Create an account</h1>
        </header>

        <section>
            <div>
                <form class="form" action="/create_account" method="POST" novalidate>
                    {{form.csrf_token}}
                    <div>
                        {{ render_field(form.email, placeholder="Enter an email", autofocus=True) }}
                        {{ render_field(form.username, placeholder="Create an username")}}
                        {{ render_field(form.password, placeholder="Type a password")}}
                        {{ render_field(form.confirm_password, placeholder="Retype your password") }}
                    </div>
                    <div>
                        <button class="ok-btn" type="button" onclick="window.location='/'">Cancel</button>
                        <button class="cancel-btn" type="submit">Accept</button>
                    </div>

                    
                </form>

                <div  class="account" >
                    <label for="">Already have an account? <a class="login" href="/login"> Login</a></label>
                </div>
                
            </div>


        </section>
    </div>

</div>
{% endblock %}