{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Welcome home, {{user}}.</h1>

    <h3>Your uploaded brocats are:</h3>
    <div>
        {% with brocats = user_brocats %}
            {% if brocats %}
                {% for brocat in brocats %}
                <ul>
                    <li>{{brocat}}</li>
                </ul>
                {% endfor %}
            {% else %}
                <h4>No Brocats uploaded yet.</h4>
            {% endif %}
        {% endwith %}
    </div>
{% endblock main %}