{% from "macros.html" import flashed_messages %}

{% extends "layout.html" %}

{% block title %}Brocat{% endblock %}

{%block header %}
    {{ flashed_messages() }}

    <div class="btn-wrapper">
        <button class="login-btn" type="button" onclick="window.location='/login'">Login</button>
        <button class="create-btn" type="button" onclick="window.location='/create_account'">Create Account</button>
    </div>
{% endblock header%}

{% block main %}
<div class="grid">

    <div class="nested-grid">
        {% with li_brocats = brocats_list %}
        {% if li_brocats %}
        {% for brocat in li_brocats %}

        <div class="brocat-display">
            <div class="brocat-container">
                <image class="brocat-img" src="{{ url_for('static', filename=brocat.thumbnail) }}">
                    <h4>{{brocat.title}}</h6>
                        <p>{{brocat.description}}</p>
            </div>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {% endblock main%}


    <aside>
        <h1>sadfasdf</h1>
        <!-- ASIDE BAR HERE!!! -->
    </aside>

</div>