<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    
    <header class="p-header">
        <h1 class="logo">Brocat</h1>
        {% block header %}{% endblock %}
    </header>

    <nav class="nav-bar">
        <ul>
            <li><a href="/">Principal</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/home/upload_brocat">Upload Brocat</a></li>
        </ul>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>


</body>

</html>