<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <section>
        <div>
            <form action="/login" method="POST" novalidate>
                {{form.csrf_token}}
                <div>
                    {{form.username}}
                    {%for error in form.username.errors%}
                    <label for="">{{error}}</label>
                    {%endfor%}
                </div>
                <div>
                    {{form.password}}
                    {%for error in form.password.errors%}
                    <label for="">{{error}}</label>
                    {%endfor%}
                </div>
                <div>
                    <button type="button" onclick="window.location='/'">Cancel</button>
                    <button type="submit">Accept</button>
                </div>
                </form>
            </div>
    </section>
</body>
</html>l