{% from "macros.html" import render_field, flashed_messages %}

{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    {{ flashed_messages() }}

    <div class="container">
        <div class="content">
            <header>
                <h1 class="title">Sign in</h1>
            </header>

            <section>
                <div>
                    <form class="form" method="POST" novalidate>
                        {{form.csrf_token}}
                        <div>
                            {{ render_field(form.username, placeholder='Enter your username', autofocus=True) }}
                            {{ render_field(form.password, placeholder='Type your password')}}
                            <div>
                                <div>
                                    {{ form.remember.label }} {{ form.remember }}
                                </div>
                            </div>
                        </div>

                        <div>
                            <button class="ok-btn" type="button" onclick="window.location='/'">Cancel</button>
                            <button class="cancel-btn" type="submit">Accept</button>
                        </div>


                    </form>

                    <div class="account">
                        <label for="">Not a member yet? <a class="login" href="/create_account"> Create account</a></label>
                    </div>

                </div>


            </section>
        </div>

    </div>
{% endblock %}